.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 270px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.profile img {
  border-radius: 20px;
}

.profile span {
  padding: 2px;
  margin: 2px;
}
