.container {
    display: flex;
    width: 900px;
    justify-content: flex-start;
    border: 1px solid #999;
}
.one {
    display: flex;
    min-width: 100px;
    margin: 10px 15px 10px 15px;
    border: 1px solid #999;
}
.two {
    display: flex;
    min-width: 100px;
    margin: 10px 15px 10px 15px;
    border: 1px solid #999;
}
.three {
    display: flex;
    min-width: 200px;
    margin: 10px 15px 10px 15px;
    border: 1px solid #999;
}
