html body {
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Open Sans', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}