.container {
    border: 1px solid #c0c0c0;
    width: 350px;
    display: flex;
    margin: auto;
    padding: 20px;
}

.container input[type=text] {
    height: 25px;
}

.container button {
    height: 31px;
    margin-left: 20px;
}