@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Work+Sans|Open+Sans+Condensed:300|Raleway');

body {
	font-family: 'Roboto', 'Open Sans', sans-serif;
	font-size: 1.1rem;
	background-color: #f3f2e2;
	/* color: #fff; */
}

div {
	line-height: 22px;
}
