.userListContainer {
    border: 1px solid #afafaf;
    margin: 10px;
    padding: 10px;
    width: 91.5%;
    height: 540px;
    border-radius: 4px;
    overflow: auto;
}

.user {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    width: 50%;
    /*border: 1px dashed #8a6d3b;*/
}

.user a {
    text-decoration: none;
}