@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Roboto', 'Open Sans';
}

.container {
  width: 100%;
}

.card.horizontal .card-image {
  max-width: 50%;
  top: 25px;
  margin-left: 10px;
}

.btn-floating.halfway-fab {
  position: absolute;
  right: 24px;
  top: 20px;
}

ul.select-dropdown,ul.dropdown-content{
  width:auto !important;
}
.dropdown-content li>a, .dropdown-content li>span {
  font-size: 14px;
  color: #000;
  display: block;
  line-height: 17px;
  padding: 14px 14px;
}

.input-field>label {
  color: #4f4f4f;
  font-size: 0.9rem;
  font-weight: 900;
}

.input-field input[type='text']:focus + label {
  color: #4f4f4f !important;
}

input:focus {
  border-bottom: 1px solid #EF5350 !important;
  box-shadow: 0 1px 0 0 #EEE !important;
}
.collapsible-header {
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.datepicker-date-display {
  flex: 1 1 auto;
  background: rgb(13,13,13);
  background: linear-gradient(184deg, rgba(13,13,13,1) 0%, rgba(180,180,186,1) 100%, rgba(180,180,186,1) 100%, rgba(255,255,255,1) 100%);
  color: #fff;
  padding: 20px 22px;
  font-weight: 500;
}