@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Work+Sans|Open+Sans+Condensed:300|Raleway');

body {
  font-family: 'Roboto', 'Open Sans';
}

.container {
  width: 100%;
}

.card.horizontal .card-image {
  max-width: 50%;
  top: 25px;
  margin-left: 10px;
}

.btn-floating.halfway-fab {
  position: absolute;
  right: 24px;
  top: 20px;
}