@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body {
  font-family: 'Roboto', 'Open Sans';
}
header {
  min-height: 100px;
}

.container {
  width: 80%;
}

.card.horizontal .card-image {
  max-width: 50%;
  top: 25px;
  margin-left: 10px;
}

.btn-floating.halfway-fab {
  position: absolute;
  right: 24px;
  top: 20px;
}