@import "style/variables.css";

.app {
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
}
.button-wrapper {
    display: flex;
    flex-direction: column;
}