@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  font-family: 'Nunito';
}

.mtop2 {
  margin-top: 2em;
}

hr.simple {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #555, #ccc);
}
