@import url('https://fonts.googleapis.com/css?family=Montserrat');

input {
  font-family: Montserrat;
}
a {
  color: '#ec6611';
  text-decoration: none;
}

button {
  font-family: Montserrat;
  border-radius: 4px;
}

body {
  background: #e5eaee;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
