@media (min-height: 60px) {
  .ui.footer.form-page {
    /* Increased specificity for SO snippet priority */
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2px;
  }
}

.footer {
  background-color: #58595b;
  color: #d1d3d4;
  padding: 5px 15px;
  font-size: 4px;
  bottom: 0;
  width: 100%;
  z-index: 20;
}
