.configurationPanel {
    font-size: 12px;
    width: 350px;
    height: 800px;
    /*border: 1px solid blue;*/
}

.configurationPanel ul {
    padding-left: 0;
}

.configurationPanel li {
    list-style: none;
    margin-top: 5px;
}
