@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
	font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
	font-size: 0.9rem;
}
a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

pre {
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 8px;
}
