.rmdb-moviethumb img {
  width: 500px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s;
  box-sizing: border-box;
}

.rmdb-moviethumb-title {
  font-family: "Abel", sans-serif;
  text-align: center;
  font-size: xx-small;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}
